.App {
  text-align: center;
  margin: 2rem 18rem;
  border: 1px solid #8080802b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  background-color: #f2f2f2;
  padding: 2rem 0 2rem;

}
.btn.btn-primary.goBtn{
  background-color: #469f199c;
  border-color: #469f199c;
  font-weight: 500;
}
.btn.btn-primary.clearBtn{
  background-color: #cac6c6e3;
  border-color: #cac6c6e3;
  color: #614949f5;
  font-weight: 500;
}

.listPage{
  text-align: left;
}